body {
    background-color: #191A1A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}


#map {
    position: absolute; 
    background: linear-gradient(to bottom, #191A1A 50%, #343332 100%);
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


.sidebar {
    position: fixed;
    right: -800px;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: rgb(19, 19, 19);
    opacity: 0.7;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 20px;
    z-index: 2;
}


.sidebar.active {
    right: 0;
}




.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}


#sidebar-content h2, p {
    margin: 10px 0;
    opacity: 1;
    
}



#year-picker-container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px;
    padding-left: 30px;
}



#year-display {
    margin: 0 10px;
    color: white;
    text-shadow: 3px 3px 0px #000000;
    font-weight: lighter;
    background-color: #00000000;
    border: 0;
}

#year-display:focus {
    outline: none;
}


#year-display, #year-picker-container, .arrow-button {
    z-index: 2;
    font-size: 35px;
}


.arrow-button {
    background-color: #f0f0f000;
    border: 0px;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.arrow-button:hover {
    color: gray;
    text-shadow:
    0 0 10px #C49BBB;
    border-radius: 100%;
}


.arrow-button:active {
    color: rgb(71, 71, 71);
}

